.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    display: flex;
    height: 50px;
    padding: 4px 16px;
    align-items: center;
    flex: 1 0 0;
}

.kore_logo {
    width: 85px;
    height: 20px;
    flex-shrink: 0;
}

.retail_logo {
    width: 139px;
    height: 20px;
    flex-shrink: 0;
}

.logout-btn {
    margin: 0;
    color: red;
}

::ng-deep .logout-success-snackbar {
    --mdc-snackbar-container-color: rgb(73, 168, 9) !important;
    --mdc-snackbar-supporting-text-color: white;
}

::ng-deep .logout-success-snackbar button {
    border: none;
    --mat-mdc-snackbar-button-color: white;
}