.header {
    margin-top: 20px;
}

.heading-text {
    color: #BFBFBF;
    font-family: Sen;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 40.5px;
    letter-spacing: 0.25px;
    margin-left: 50px;
}

.subtext {
    margin-left: 50px;
    font-size: 11px;
}

.button-container {
    position: absolute;
    right: 80px;
    top: -85px;
}

.next-btn {
    border: none;
    width: 70px;
    height: 28px;
    border-radius: 5px;
    color: white;
    background-color: rgb(118, 198, 118);
    cursor: pointer;
    margin-bottom: 10px;
}

.back-btn-last {
    border: none;
    width: 70px;
    height: 28px;
    border-radius: 5px;
    color: black;
    background-color: rgb(170, 175, 170);
    cursor: pointer;
    margin-top: 30px;
}

.blur {
    filter: blur(2px);
}

.back-btn {
    border: none;
    width: 70px;
    height: 28px;
    border-radius: 5px;
    color: black;
    background-color: rgb(170, 175, 170);
    cursor: pointer;
}

.stepper-container {
    padding: 0px 20px 0px 20px;
    position: relative;
    margin-top: 10px;
    font-size: 12px;
    /* background-color: green; */
}

mat-form-field {
    width: 400px;
}

mat-label {
    font-size: 12px;
}

.mat-step-text-label {
    font-size: 10px;
}

mat-hint {
    font-size: 0.9em;
}

.apiKey-input {
    margin-bottom: 50px;
    height: 10px;
    width: 400px;
    font-size: 12px;
}

.instance-input {
    margin-top: 20px;
}

.mdc-switch:enabled .mdc-switch__track::after {
    background-color: green;
}

.custom-slide-toggle {
    font-size: 0.8em;
    margin-top: 10px;
    margin-left: 10%;
}

.llmConfig-container {
    width: 60%;
    margin: 0 auto;
    margin-top: 3%;
}

mat-panel-description {
    text-align: center;
}

.search-pref-div {
    /* background-color: #88AF67; */
    width: 30%;
    margin: 0 auto;
    margin-top: 2%;
}

.form-model-container {
    margin: 0 auto;
    width: 70%;
    max-width: 100%;
    /* Add this line to limit the maximum width to 100% */
    margin-left: 22%;
    /* Remove the margin-left declaration */
    margin-right: auto;
    /* Add margin-right with the same value as margin-left */
    margin-bottom: 20px;
}


/* input box  */
::ng-deep .mat-mdc-text-field-wrapper {
    height: 50px !important;
    text-align: justify;
    justify-content: center;
}

::ng-deep .example-chip-list .mat-mdc-text-field-wrapper {
    height: auto !important;
}

.example-chip-list {
    width: 100%;
    height: auto;
    font-size: 12px;
}

.ignoreKeys-card {
    margin: 10px;
    padding: 5px;
    width: 180%;
    height: auto;
    margin-left: -130px;
}

.namespace-card {
    width: 180%;
    height: auto;
    margin-left: -130px;
}

::ng-deep .example-chip-list .mat-mdc-text-field-wrapper {
    padding: 0 6px;
}

/* input chip border-bottom color */
::ng-deep .example-chip-list .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    border-bottom-color: green;
}

/* floating label of input  */
::ng-deep .example-chip-list .mdc-text-field--filled .mdc-floating-label {
    color: rgb(14, 14, 14) !important;
    font-size: 13px;
    padding: 5px;
}

::ng-deep .example-chip-list .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
    font-size: 6px !important;
}

::ng-deep .mat-mdc-text-field-wrapper .mdc-text-field .mdc-text-field--filled {
    padding: 5px;
    background-color: green;
}

/* chip left side */
::ng-deep .mat-mdc-standard-chip.mdc-evolution-chip--with-trailing-action .mdc-evolution-chip__action--primary {
    background-color: #a8d384;
    border-radius: 25px 0 0 25px;
}

/* chip font size */
::ng-deep .example-chip-list .mat-mdc-chip.mdc-evolution-chip--with-trailing-action .mat-mdc-chip-action-label {
    font-size: 11px;
}

/* chip right side */
::ng-deep .mdc-evolution-chip__cell--trailing {
    background-color: #a8d384;
    border-radius: 0 25px 25px 0;
}


::ng-deep .mat-mdc-slider.mat-primary {
    --mdc-slider-handle-color: #88AF67;
    --mdc-slider-focus-handle-color: #88AF67;
    --mdc-slider-active-track-color: #88AF67;

}

::ng-deep .mdc-switch__icons .ng-star-inserted {
    background-color: #88AF67 !important;
}

::ng-deep .mat-mdc-slide-toggle {
    --mdc-switch-selected-handle-color: #88AF67 !important;
    --mdc-switch-selected-hover-handle-color: #88AF67 !important;
    --mdc-switch-selected-track-color: #bff097 !important;
    --mdc-switch-selected-hover-track-color: #bff097 !important;
    --mdc-switch-selected-focu-track-color: #bff097 !important;
}

.pinecone-div {
    margin: 0 auto;
    width: 30%;
    padding: 1%;
}

.slider-label {
    margin-left: 4%;
    font-size: 0.9em;
}

.slider-value-label {
    font-size: 1em;
}

.example-margin {
    width: 40%;
}

.example-margin,
.example-margin-topk {

    margin-left: 19px;
    margin-right: 10px;
}

.topK-slider {
    margin-top: 20px;
    display: flex;
}

.example-margin-topk {
    width: 80%;
    margin-top: -13px;
}

.example-name-label {
    width: 140px;
    float: left;
    font-size: 14px;
}

.example-value-label {
    width: 50px;
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin-left: 50%;
}

.example-label-container {
    display: flex;
    margin: 10px;
    margin-bottom: 30px;
}

/* prompt step */
.custom-dropdown {
    width: 500px;
    /* Adjust the width as needed */
}

.add-prompt-container {
    display: flex;
    align-items: center;
    margin-left: 88%;
}

.add-prompt-text {
    margin-right: 5px;
}


.custom-textarea {
    padding: 20px;
    width: 800px;
    height: auto;
    resize: vertical;
    border-color: #88AF67;
    outline-color: #88AF67;
}

.text-area {
    width: 800px;
    height: auto;
}

.prompt-expansion {
    width: 900px;
    margin: 0 auto;
}

.no-prompts-container {
    text-align: center;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
}

.np-description {
    color: #a2a2a2;
    font-family: Roboto;
    text-align: center;
}

.np-heading {
    font-size: 2em;
}

.export-cart {
    width: 700px;
    height: 300px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

}

.export-data-area {
    width: 600px;
    padding: 20px;
    height: 200px;
}

.allset-container,
.save-btn-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

.allset-heading {
    font-size: 1.5em;
}

.allset-description {
    font-size: 1em;
}

.allset-img {
    width: 130px;
    height: 80px;
}

.save-btn-container {
    margin: 0 auto;

}

.reset-btn,
.export-btn {
    border: 1px solid rgb(77, 77, 77);
    width: 90px;
    height: 30px;
}

.export-btn {
    margin-left: 30px;
}

.create-btn {
    background-color: #88AF67;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 130px;
    height: 30px;
}

.fallback-toggle,
.presentation-toggle,
.followup-toggle {
    margin-left: 82%;
}

/* stepper customization */

::ng-deep .mat-horizontal-stepper-header-container {
    padding: 0px 0 0px 0;
}

::ng-deep .mat-stepper-horizontal-line {
    border-top-color: rgb(77, 77, 77) !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
}


::ng-deep .mat-step-header.mat-horizontal-stepper-header {
    &[ng-reflect-selected="true"].mat-step-header {
        background-color: #c4efbb !important;
        border: 1px solid black !important;
        border-radius: 40px !important;
        height: 55px !important;
        width: auto !important;
        backdrop-filter: blur(5px) !important;
    }
}


::ng-deep .mat-step-header.mat-accent {
    border-radius: 40px !important;
    height: 55px !important;
    width: auto !important;
}


::ng-deep .mat-step-header.mat-step-label {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

/*  icon circle */
::ng-deep .mat-step-header .mat-step-icon {
    background-color: #88AF67;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: rgb(80, 137, 237);
    outline: 2px solid rgb(80, 137, 237);
    outline-offset: 2px;
}

.add-prompt-btn {
    display: inline-flex;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #88AF67;
    border: none;
    cursor: pointer;
}

.add-icon {
    /* background-color: white; */
    color: white;
}

/* snakbar styling */
::ng-deep .error-snackbar {
    --mdc-snackbar-container-color: rgb(196, 60, 36) !important;
    color: rgb(195, 190, 190);
    --mdc-snackbar-supporting-text-color: white;
}

::ng-deep .error-snackbar button {
    background-color: white;
    --mat-mdc-snack-bar-button-color: white;
}

::ng-deep .success-snackbar {
    --mdc-snackbar-container-color: rgb(73, 168, 9) !important;
    color: rgb(195, 190, 190);
    --mdc-snackbar-supporting-text-color: white;
}

::ng-deep .success-snackbar button {
    border: none;
    background-color: white;
    --mat-mdc-snack-bar-button-color: white;
}

.model-remove-btn {
    margin-right: 2%;
}

.add-model-container {
    display: flex;
    align-items: center;
    margin-left: 110%;
    width: 100px;
}
.desc-text{
    margin-left: -33px;
}