<div class="create-index-container">
    <div class="header">
        <div class="left-header">
            <span class="heading-text">Index Configuration</span><br>
            <span class="subtext">This wizards helps you to configure and update an existing pinecone index</span>
        </div>
    </div>

    <div class="stepper-container">
        <mat-stepper [linear]="isLinear" color="accent" #stepper animationDuration="0" (selectionChange)="onSelectionChange($event)">

            <mat-step [stepControl]="pineconeCredentials">
                <ng-template matStepLabel>Account Data</ng-template>
                <form class="pinecone-div" [formGroup]="pineconeCredentials">
                    <mat-form-field appearance="outline">
                        <mat-label>Pinecone Index Name</mat-label>
                        <input matInput formControlName="indexName">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label>Pinecone UserName</mat-label>
                        <input matInput formControlName="userName">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline" class="apiKey-input">
                        <mat-label>Pinecone API Key</mat-label>
                        <input matInput formControlName="apiKey">
                    </mat-form-field>
                    <br>
                    <mat-form-field class="instance-input">
                        <mat-label>Pinecone Instance Type</mat-label>
                        <mat-select formControlName="instanceType">
                            <mat-option *ngFor="let instance of instanceTypes"
                                [value]="instance.value">{{instance.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-slide-toggle class="custom-slide-toggle" formControlName="isAzureOpenAI" [checked]="true"
                        color="primary">
                        Enable fetching Meta Data from PIM
                    </mat-slide-toggle>

                    <div class="button-container">
                        <button matStepperNext class="next-btn">Next</button>
                    </div>
                </form>

            </mat-step>

            <mat-step [stepControl]="llmSpecification">
                <ng-template matStepLabel>LLM Specification</ng-template>
                <form [formGroup]="llmSpecification">
                    <div class="llmConfig-container">
                        <mat-accordion>

                            <mat-expansion-panel formGroupName="embeddingModel">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Embedding
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Embedding Model Configuration
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="form-model-container">
                                    <mat-form-field class="embedding-name-input" appearance="outline">
                                        <mat-label>Embedding Model Name</mat-label>
                                        <mat-select formControlName="modelName" #embeddingModel>
                                            <mat-option *ngFor="let model of modelNames" [value]="model">
                                                {{model}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <ng-container *ngIf="embeddingModel.value === 'Add Custom Model'">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Custom Model Name</mat-label>
                                            <input formControlName="customModelName" matInput>
                                        </mat-form-field>
                                    </ng-container>
                                    <br>
                                    <mat-form-field class="api-version-input" appearance="outline">
                                        <mat-label>API Version</mat-label>
                                        <input matInput formControlName="api_version"
                                            pattern="(20[0-9]{2})-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])-preview">
                                        <mat-hint align="start">Format: YYYY-MM-DD-preview</mat-hint>
                                    </mat-form-field>
                                    <br>
                                    <mat-slide-toggle formControlName="isAzureOpenAI" class="custom-slide-toggle"
                                        [checked]="true" color="primary">
                                        Enable fetching Meta Data from PIM
                                    </mat-slide-toggle>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel formGroupName="consolidatedQueryModel">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Consolidation
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Consolidation Model Configuration
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <div class="form-model-container">
                                    <mat-form-field class="conslidation-name-input" appearance="outline">
                                        <mat-label>Consolidation Model Name</mat-label>
                                        <mat-select formControlName="modelName" #consolidateModel>
                                            <mat-option *ngFor="let model of modelNames" [value]="model">
                                                {{model}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <ng-container *ngIf="consolidateModel.value === 'Add Custom Model'">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Custom Model Name</mat-label>
                                            <input formControlName="customModelName" matInput>
                                        </mat-form-field>
                                    </ng-container>

                                    <br>
                                    <mat-form-field class="api-version-input" appearance="outline">
                                        <mat-label>API Version</mat-label>
                                        <input matInput formControlName="api_version"
                                            pattern="(20[0-9]{2})-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])-preview">
                                        <mat-hint align="start">Format: YYYY-MM-DD-preview</mat-hint>
                                    </mat-form-field>

                                    <br>
                                    <span class="slider-label">Temparature</span>
                                    <mat-slider class="example-margin" [disabled]="disabled" [max]="max" [min]="min"
                                        step="1" [discrete]="thumbLabel" [showTickMarks]="showTicks"
                                        (input)="updateTemperature('consolidatedQueryModel',conslidationTemp.value)">
                                        <input formControlName="temperature" #conslidationTemp matSliderThumb>
                                    </mat-slider>
                                    <span class="slider-value-label">{{conslidationTemp.value}}</span>
                                    <br>
                                    <mat-slide-toggle formControlName="isAzureOpenAI" class="custom-slide-toggle"
                                        [checked]="true" color="primary">
                                        Enable fetching Meta Data from PIM
                                    </mat-slide-toggle>
                                </div>

                            </mat-expansion-panel>

                            <mat-expansion-panel formGroupName="finetunedModel">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Fine Tuning
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Fine Tuning Model Configuration
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="form-model-container">
                                    <mat-form-field class="finetuing-name-input" appearance="outline">
                                        <mat-label>Fine Tuning Model Name</mat-label>
                                        <mat-select formControlName="modelName" #finetuneModel>
                                            <mat-option *ngFor="let model of modelNames" [value]="model">
                                                {{model}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <ng-container *ngIf="finetuneModel.value === 'Add Custom Model'">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Custom Model Name</mat-label>
                                            <input formControlName="customModelName" matInput>
                                        </mat-form-field>
                                    </ng-container>

                                    <br>
                                    <mat-form-field class="api-version-input" appearance="outline">
                                        <mat-label>API Version</mat-label>
                                        <input matInput formControlName="api_version"
                                            pattern="(20[0-9]{2})-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])-preview">
                                        <mat-hint align="start">Format: YYYY-MM-DD-preview</mat-hint>
                                    </mat-form-field>

                                    <br>
                                    <span class="slider-label">Temparature</span>
                                    <mat-slider class="example-margin" [disabled]="disabled" [max]="max" [min]="min"
                                        step="1" [discrete]="thumbLabel" [showTickMarks]="showTicks"
                                        (input)="updateTemperature('finetunedModel',finetuneTemp.value)">
                                        <input formControlName="temperature" #finetuneTemp matSliderThumb>
                                    </mat-slider>
                                    <span class="slider-value-label">{{finetuneTemp.value}}</span>
                                    <br>
                                    <mat-slide-toggle formControlName="isAzureOpenAI" class="custom-slide-toggle"
                                        [checked]="true" color="primary">
                                        Enable fetching Meta Data from PIM
                                    </mat-slide-toggle>
                                </div>

                            </mat-expansion-panel>

                            <mat-expansion-panel formGroupName="followupModel">

                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Follow up
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Follow up Model Configuration
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <mat-slide-toggle color="primary" class="followup-toggle"
                                    (change)="updateValidators($event,'followupModel')">
                                    ENABLE
                                </mat-slide-toggle>

                                <div class="form-model-container">
                                    <mat-form-field class="followup-name-input" appearance="outline">
                                        <mat-label>Follow up Model Name</mat-label>
                                        <mat-select formControlName="modelName" #followupModel>
                                            <mat-option *ngFor="let model of modelNames" [value]="model">
                                                {{model}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <ng-container *ngIf="followupModel.value === 'Add Custom Model'">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Custom Model Name</mat-label>
                                            <input formControlName="customModelName" matInput>
                                        </mat-form-field>
                                    </ng-container>
                                    <br>
                                    <mat-form-field class="api-version-input" appearance="outline">
                                        <mat-label>API Version</mat-label>
                                        <input matInput formControlName="api_version"
                                            pattern="(20[0-9]{2})-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])-preview">
                                        <mat-hint align="start">Format: YYYY-MM-DD-preview</mat-hint>
                                    </mat-form-field>
                                    <br>
                                    <span class="slider-label">Temparature</span>
                                    <mat-slider class="example-margin" [disabled]="disabled" [max]="max" [min]="min"
                                        step="1" [discrete]="thumbLabel" [showTickMarks]="showTicks"
                                        (input)="updateTemperature('followupModel',followupTemp.value)">
                                        <input formControlName="temperature" #followupTemp matSliderThumb>
                                    </mat-slider>
                                    <span class="slider-value-label">{{followupTemp.value}}</span>
                                    <br>
                                    <mat-slide-toggle formControlName="isAzureOpenAI" class="custom-slide-toggle"
                                        [checked]="true" color="primary">
                                        Enable fetching Meta Data from PIM
                                    </mat-slide-toggle>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel formGroupName="presentationModel">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Presentation
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Presentation Model Configuration
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <mat-slide-toggle color="primary" class="presentation-toggle"
                                    (change)="updateValidators($event,'presentationModel')">
                                    ENABLE
                                </mat-slide-toggle>
                                <div class="form-model-container">
                                    <mat-form-field class="Presentation-name-input" appearance="outline">
                                        <mat-label>Presentation Model Name</mat-label>
                                        <mat-select formControlName="modelName" #presentationModel>
                                            <mat-option *ngFor="let model of modelNames" [value]="model">
                                                {{model}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <ng-container *ngIf="presentationModel.value === 'Add Custom Model'">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Custom Model Name</mat-label>
                                            <input formControlName="customModelName" matInput>
                                        </mat-form-field>
                                    </ng-container>

                                    <br>
                                    <mat-form-field class="api-version-input" appearance="outline">
                                        <mat-label>API Version</mat-label>
                                        <input matInput formControlName="api_version"
                                            pattern="(20[0-9]{2})-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])-preview">
                                        <mat-hint align="start">Format: YYYY-MM-DD-preview</mat-hint>
                                    </mat-form-field>


                                    <br>
                                    <span class="slider-label">Temparature</span>
                                    <mat-slider class="example-margin" [disabled]="disabled" [max]="max" [min]="min"
                                        step="1" [discrete]="thumbLabel" [showTickMarks]="showTicks"
                                        (input)="updateTemperature('presentationModel',presentationTemp.value)">
                                        <input formControlName="temperature" #presentationTemp matSliderThumb>
                                    </mat-slider>
                                    <span class="slider-value-label">{{presentationTemp.value}}</span>
                                    <br>
                                    <mat-slide-toggle formControlName="isAzureOpenAI" class="custom-slide-toggle"
                                        [checked]="true" color="primary">
                                        Enable fetching Meta Data from PIM
                                    </mat-slide-toggle>
                                </div>

                            </mat-expansion-panel>

                            <mat-expansion-panel formGroupName="fallbackModel">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Fallback
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Fallback Model Configuration
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <mat-slide-toggle color="primary" class="fallback-toggle"
                                    (change)="updateValidators($event,'fallbackModel')">
                                    ENABLE
                                </mat-slide-toggle>

                                <div class="form-model-container">
                                    <mat-form-field class="Fallback-name-input" appearance="outline">
                                        <mat-label>Fallback Model Name</mat-label>
                                        <mat-select formControlName="modelName" #fallbackModel>
                                            <mat-option *ngFor="let model of modelNames" [value]="model">
                                                {{model}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <ng-container *ngIf="fallbackModel.value === 'Add Custom Model'">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Custom Model Name</mat-label>
                                            <input formControlName="customModelName" matInput>
                                        </mat-form-field>
                                    </ng-container>

                                    <br>
                                    <mat-form-field class="api-version-input" appearance="outline">
                                        <mat-label>API Version</mat-label>
                                        <input matInput formControlName="api_version"
                                            pattern="(20[0-9]{2})-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])-preview">
                                        <mat-hint align="start">Format: YYYY-MM-DD-preview</mat-hint>
                                    </mat-form-field>

                                    <br>
                                    <span class="slider-label">Temparature</span>
                                    <mat-slider class="example-margin" [disabled]="disabled" [max]="max" [min]="min"
                                        step="1" [discrete]="thumbLabel" [showTickMarks]="showTicks"
                                        (input)="updateTemperature('fallbackModel',fallbackTemp.value)">
                                        <input formControlName="temperature" #fallbackTemp matSliderThumb>
                                    </mat-slider>
                                    <span class="slider-value-label">{{fallbackTemp.value}}</span>
                                    <br>
                                    <mat-slide-toggle formControlName="isAzureOpenAI" class="custom-slide-toggle"
                                        [checked]="true" color="primary">
                                        Enable fetching Meta Data from PIM
                                    </mat-slide-toggle>
                                </div>
                            </mat-expansion-panel>

                        </mat-accordion>
                    </div>
                </form>
                <div class="button-container">
                    <button class="next-btn" matStepperNext>Next</button><br>
                    <button class="back-btn" matStepperPrevious>Back</button>
                </div>
            </mat-step>

            <mat-step [stepControl]="searchPreferenceForm">
                <ng-template matStepLabel>Search Preferences</ng-template>
                <form class="search-pref-div" [formGroup]="searchPreferenceForm">
                    <mat-card class="topK-container">
                        <mat-card-content class="topK-card">
                            <div class="example-label-container">
                                <div class="example-name-label">Top K Count</div>
                                <div class="example-value-label">{{slider.value}}</div>
                            </div>
                            <div class="topK-slider">
                                <span>0</span>
                                <mat-slider class="example-margin-topk" [disabled]="disabled" [max]="max" [min]="min"
                                    [step]="step" [discrete]="thumbLabel" [showTickMarks]="showTicks"
                                    [(ngModel)]="topKvalue">
                                    <input matSliderThumb #slider>
                                </mat-slider>
                                <span>10</span>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <div class="ignoreKeys-card">
                        <div class="ignoreKeys-header">
                            <h3>Vector Search Ignorable Keys</h3>
                        </div>
                        <mat-form-field class="example-chip-list">
                            <mat-label>Ignorable Keys</mat-label>
                            <mat-chip-grid #chipGrid aria-label="Enter keys">
                                <mat-chip-row *ngFor="let keys of ignorableKeys" (removed)="remove(keys,ignorableKeys)"
                                    [editable]="true" (edited)="edit(keys, $event,ignorableKeys)"
                                    [aria-description]="'press enter to edit ' + keys.name">
                                    {{keys.name}}
                                    <button matChipRemove [attr.aria-label]="'remove ' + keys.name">
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip-row>
                                <input placeholder="New Key" [matChipInputFor]="chipGrid"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur"
                                    (matChipInputTokenEnd)="add($event,ignorableKeys)" />
                            </mat-chip-grid>
                        </mat-form-field>
                    </div>

                    <div class="namespace-card">
                        <div class="namespace-header">
                            <h3>Namespaces</h3>
                        </div>
                        <mat-form-field class="example-chip-list">
                            <mat-label>Namespaces</mat-label>
                            <mat-chip-grid #chipGrid1 aria-label="Enter keys">
                                <mat-chip-row *ngFor="let item of namespaces" (removed)="remove(item, namespaces)"
                                    [editable]="true" (edited)="edit(item, $event, namespaces)"
                                    [aria-description]="'press enter to edit ' + item.name">
                                    {{item.name}}
                                    <button matChipRemove [attr.aria-label]="'remove ' + item.name">
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip-row>
                                <input placeholder="New namespace" [matChipInputFor]="chipGrid1"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event, namespaces)"
                                    formControlName="namespaces" />
                            </mat-chip-grid>
                        </mat-form-field>
                    </div>
                    <div class="button-container">
                        <button class="next-btn" matStepperNext>Next</button><br>
                        <button class="back-btn" matStepperPrevious>Back</button>
                    </div>
                </form>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Prompting</ng-template>
                <div class="add-prompt-container" *ngIf="availableOptions.length > 0">
                    <span class="add-prompt-text">Add Prompt</span>
                    <button class="add-prompt-btn" [matMenuTriggerFor]="dropdownMenu"
                        aria-label="Expand dropdown">
                        <mat-icon class="add-icon">add</mat-icon>
                    </button>
                </div>
                <mat-menu #dropdownMenu="matMenu" class="custom-dropdown">
                    <ng-container *ngFor="let option of availableOptions">
                        <button mat-menu-item (click)="onOptionSelected(option)">
                            {{ option }}
                        </button>
                    </ng-container>
                </mat-menu>
                <ng-container *ngIf="selectedOptions.length > 0;else elseBlockContent">
                    <ng-container *ngFor="let selectedOption of selectedOptions; let i = index">
                        <mat-expansion-panel class="prompt-expansion">
                            <mat-expansion-panel-header>
                                <mat-panel-title>{{ selectedOption.option }}</mat-panel-title>
                                <button mat-icon-button color="warn"
                                    (click)="removeExpansionPanel(selectedOption.option)" aria-label="Remove panel">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </mat-expansion-panel-header>

                            <textarea class="custom-textarea" placeholder="Enter prompt"
                                [(ngModel)]="selectedOption.prompt"></textarea>
                            <mat-action-row>
                                <button mat-button color="primary"
                                    (click)="updatePrompt(selectedOption)">Update</button>
                                <button mat-button (click)="clearPrompt(selectedOption)">Clear</button>
                            </mat-action-row>
                        </mat-expansion-panel>
                    </ng-container>
                </ng-container>
                <ng-template #elseBlockContent>
                    <div class="no-prompts-container">
                        <img class="no-prompts-img" src="assets/no-prompts.png" alt="no-prompt">
                        <h1 class="np-heading">No prompts added!</h1>
                        <h5 class="np-description">Add a new prompt key-value prompt pair below. You can add as many as
                            required.</h5>
                    </div>
                </ng-template>
                <div class="button-container">
                    <button class="next-btn" (click)="done()" matStepperNext>Next</button><br>
                    <button class="back-btn" matStepperPrevious>Back</button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <div class="allset-container">
                    <img src="assets/allset.png" class="allset-img" alt="All Set">
                    <h2 class="allset-heading">You're all set!</h2>
                    <h4 class="allset-description">Verify the updated search configuration JSON below, make changes &
                        click on commit.</h4>
                </div>
                <mat-card class="export-cart">
                    <mat-card-content>
                        <div class="export-data">
                            <textarea readonly class="export-data-area" [(ngModel)]="finalJSON"></textarea>
                        </div>
                    </mat-card-content>
                </mat-card>
                <div class="save-btn-container">
                    <button mat-button class="create-btn" (click)="createIndex()">Save & Create</button>
                    <br>
                    <button class="reset-btn" (click)="stepper.reset()" mat-button>
                        <mat-icon>restore</mat-icon>
                        Reset
                    </button>
                    <button class="export-btn" mat-button (click)="exportData()">
                        <mat-icon>logout</mat-icon>
                        Export
                    </button>
                </div>

                <div class="button-container">
                    <button class="back-btn" matStepperPrevious>Back</button>
                </div>
            </mat-step>

        </mat-stepper>
    </div>
</div>