<div fxLayoutAlign="center center" fxFlexFill>
<mat-card fxFlex="30">
   <mat-toolbar color="primary"><span>Login</span></mat-toolbar>
<br>
<form fxLayoutAlign="stretch" fxLayout="column" class="form" [formGroup]="Data" >
    <mat-form-field>
      <mat-label>User Name</mat-label>
      <input matInput formControlName = "uname">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName = "password">
  
    </mat-form-field>
    <button (click)="login()" mat-button color="primary">Login</button>
  </form>
</mat-card>
</div>