/* div {
    background-image: url('../../../assets/theme.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */
div {
    background-color: rgb(244, 247, 243);
}
input,
mat-card {
    border-radius: 20px;
}

.mat-toolbar span {
    text-align: center;
    width: 100%;
    align-items: center;
}

mat-toolbar {
    color: white;
    background-color: #689a44;
    border-radius: 20px 20px 0 0;
}
.form {
    padding: 20px;
    border-radius: 20px;
}
