.pimContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 5vw;
}

.pim-index-div {
  position: relative;

  flex-basis: calc(25% - 10px);
  box-sizing: border-box;
  padding: 1vw;
  margin: 2vw;
  border: 0.5px solid #3a3939;
  border-radius: 10px;
  background-color: #dbefcc;
}

@media (max-width: 768px) {
  .pim-index-div {
    flex-basis: calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .pim-index-div {
    flex-basis: 100%;
  }
}